* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffe0ec, #ffe6f2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 350px;
    width: 100%;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 10px;
    color: #d42663;
  }
  
  .login-form p {
    margin-bottom: 20px;
    color: #555;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .login-form button {
    background-color:#d42663 ;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-form button:hover {
    background-color: #b82c5d;
  }
  
  .signup-link {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #d6336c;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }